.person-class-role{
   .box{
    background-color: #49CC84;
    color: white;
    padding: 5px 10px 5px 10px;
   } 
   .person-dropdown{
    border: #49CC84 solid;
    // background-color: #49CC84;
   }
  
   .margin{
    margin:10px;
   }
   .person-btn{
 background-color: #49CC84;
 color: white;

   }
   
}