<div class="container-fluid p-0 add-org-container">
  <div class="col-12 box text-center">
 
    <h1>Person Details</h1>
  </div>
  <ng-container *ngIf="!isEdit">
    <h5>Add multiple users by adding csv file</h5>
<input type="file" placeholder="Choose file to upload" (change)="onFileUpload($event)" accept=".csv">
  </ng-container>
  <form class="org-add-form">
    <div class="form-group margin-top">
      <label for="name">Name </label>
      <input
        type="text"
        [(ngModel)]="person.name"
        class="form-control"
        name="name"
        placeholder="Name"
      />
    </div>
    <div class="form-group margin-top">
      <label for="address">Address</label>
      <input
        type="text"
        [(ngModel)]="person.address"
        class="form-control"
        name="address"
        placeholder="Address"
      />
    </div>
    <div class="form-group margin-top">
      <label for="age">Age</label>
      <input
        type="number"
        [(ngModel)]="person.age"
        class="form-control"
        name="age"
        placeholder="Age"
      />
    </div>
    <div class="form-group margin-top">
      <label for="name">E-mail</label>
      <input
        type="text"
        [(ngModel)]="person.email"
        class="form-control"
        name="name"
        placeholder="Name"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary margin-top"
      (click)="addPerson()"
    >
      {{ isEdit ? "Edit User" : "Add User" }}
    </button>
  </form>

  |
</div>
