
<div class="container-fluid   org-container">
    <div class="row  text-center box">
        <div class="col-2">
            <h6 (click)="navTo('org/')">Go back</h6>
        </div>
     <div class="col-9">
        <h1>{{org.name}}</h1>
     </div>   
     <button class="btn pmd-btn-fab pmd-r
     ipple-effect btn-light pmd-btn-raised col-1" type="button" (click)="navTo('org/'+orgId+'/addUser')"><i class="material-icons pmd-sm">add</i></button>
    </div>   
    <lib-pagination-effect class="container" [pages]="personsPagination.totalPage??1" [currentIndex]="personsPagination.page??1" (selectedIndex)="getPersonById($event)">
    <ng-container table-title>
        <div class="row">
            <div class="col-3 text-center">
                <h5>Id</h5>
            </div>
            <div class="col-6 text-center">
                <h5>Name</h5>
            </div>
            <div class="col-1 text-center">
              
            </div> <div class="col-1 text-center">
              
            </div>
            
    
        </div>
    </ng-container>
    <ng-container table-content *ngFor="let item of personsPagination.data;index as i ">
        <div class="tile-container ">
            <div class="row text-center">
                <div class="col-3 text-center"><h6>{{item.id}}</h6></div>
          
                <div class="col-5 text-center "><h6>{{item.name}}</h6></div>
              
                <div class="col-1 view-button text-center" (click)="  viewMoreClick(i)" ><p>{{viewMore[i]?"Hide":"Show"}}</p></div>
                <div class="col-1 view-button text-center" (click)=" navTo(orgId+'/userrole/'+item.id+'/class')" ><p>Classes</p></div>
                <div class="col-1 view-button text-center" (click)="  navTo('org/'+item.orgId+'/addUser/'+item.id)" ><p>Edit</p></div>
                <div class="col-1 view-button text-center" (click)="  deletePerson(item.id)" ><p>Delete</p></div>
            </div>
            <div class="expanded-tile row" *ngIf="viewMore[i]">
                <hr>
                <div class="row">
                    <h6 class="col-3">Address</h6>
                    <h6 class="col-1">:</h6>
                    <h6 class="col-3">{{item.address}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-3">Age</h6>
                    <h6 class="col-1">:</h6>
                    <h6 class="col-3">{{item.age}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-3">Role</h6>
                    <h6 class="col-1">:</h6>
                    <h6 class="col-3">{{item.role}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-3">Class</h6>
                    <h6 class="col-1">:</h6>
                    <h6 class="col-3">{{item.std}}</h6>
                </div>
            </div>
            </div>
    </ng-container>
    </lib-pagination-effect> 
    </div>
    